html, body {
  /* 브라우저에 기본적으로 존재하는 패딩/마진 없앰 */
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  /* 줄 간격/텍스트 색상/패딩 지정 */
  /* rem: 가장 최상위 요소(html)의 font-size를 기준으로
          현재 요소의 font-size를 계산 */
  font-size: 0.9rem;
  line-height: 1.5;
  color: #373a3c;
  padding: 0 10px;
}
a {
  /* anchor태그의 색상 변경, 밑줄 없앰 */
  color: #0275d8;
  text-decoration: none;
}
img {
  /* 이미지는 최대크기가 부모 요소의 크기를 넘지 못하도록 함 */
  max-width: 100%;
}
ul.horizontal {
  /* 수평으로 배치되는 리스트에 대한 속성 */
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.horizontal > li {
  /* 수평 리스트 내부의 아이템들은 inline으로 수평 배치되도록 함 */
  display: inline-block;
}
ul.horizontal > li::after {
  /* 수평 리스트 내부의 각 아이템의 마지막 자식요소에 '|' content를 삽입 */
  content: '|';
  padding-left: 5px;
}
ul.horizontal > li:last-of-type::after {
  /* horizontal클래스를 가진 ul요소의 자식 li들 중 '마지막' li의 after에 해당 */
  /* display: none -> 요소를 HTML에서 제외시킴 */
  display: none;
}


/* 본문 */
.date-modified {
  text-align: right;
}

.type {
  /* 테두리 넣고 가장자리 둥글게 */
  border: 1px solid #ccc;
  border-radius: 4px;
  /* 내부 여백 설정, 왼쪽 여백은 5px로 더 넓게 */
  padding: 3px;
  padding-left: 5px;
}

.type > ul {
  /* 수평으로 배치되지만, block요소와 같이 수직방향의 여백도 가질 수 있도록 설정 */
  display: inline-block;
}

