@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.horizontal {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontal > * {
  float: left;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

header.main-header > nav {
  border-bottom: 1px solid #ccc;
}

header.main-header > nav > ul.left {
  float: left;
}

header.main-header > nav > ul.left > li:first-of-type {
  margin-left: 15px;
  margin-right: 15px;
}

header.main-header > nav > .right {
  float: right;
}

header.main-header > nav > .right > ul > li > a {
  color: #585858;
  text-decoration: none;
  padding: 0 3px;
  margin: 0 7px;
}

header.main-header > nav > .right > .room-list {
  font-size: 14px;
}

header.main-header > nav > .right > .auth-list {
  font-size: 12px;
}

header.main-header > nav ul > li > a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

header.main-header > nav ul > li > a > img {
  vertical-align: middle;
}

/* 헤더에 포함되는 큰 배경이미지 & 검색 UI */
.search-container {
  position: relative;
  height: 678px;
  background-image: url("../images/main_search_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebe6e0;
}

.search-container > .input-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-container > .input-bg > form {
  width: 534px;
  margin: 30px auto 0;
}

.search-container > .input-bg > form > * {
  float: left;
  height: 50px;
  box-sizing: border-box;
}

.search-container > .input-bg > form > input {
  width: 434px;
  padding: 0 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 50px;
}

.search-container > .input-bg > form > button {
  width: 100px;
  border: none;
  border-radius: 0 3px 3px 0;
  font-size: 15px;
  color: white;
  background-color: #3b8de0;
  cursor: pointer;
  transition-duration: 0.5s;
}

.search-container > .input-bg > form > button:hover {
  background-color: #2074c8;
}

section.theme-search {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}

section.theme-search h2 {
  font-size: 36px;
  margin-bottom: 5px;
}

section.theme-search p.title-description {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 40px;
}

section.theme-search > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section.theme-search > ul > li {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
}

section.theme-search > ul > li:nth-of-type(3n) {
  margin-right: 0;
}

section.theme-search > ul > li:hover > .bg {
  transform: scale(1.2);
}

section.theme-search > ul > li > * {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.theme-search > ul > li > .bg {
  transition-duration: 0.3s;
}

section.theme-search > ul > li > .bg.pet {
  background-image: url("../images/pet.jpg");
}

section.theme-search > ul > li > .mask {
  background-color: #2a2a2a;
  opacity: .4;
}

section.theme-search > ul > li > .typo {
  color: white;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}

section.theme-search > ul > li > .typo > hr {
  width: 46px;
}
