@charset "UTF-8";
html, body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.horizontal {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.horizontal > * {
  float: left;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

header.main-header {
  height: 60px;
  border-bottom: 1px solid #ccc;
}

header.main-header > nav > ul.left {
  float: left;
}

header.main-header > nav > ul.left > li:first-of-type {
  margin-left: 15px;
  margin-right: 15px;
}

header.main-header > nav > .right {
  float: right;
}

header.main-header > nav > .right > ul > li > a {
  color: #585858;
  text-decoration: none;
  padding: 0 3px;
  margin: 0 7px;
}

header.main-header > nav > .right > .room-list {
  font-size: 14px;
}

header.main-header > nav > .right > .auth-list {
  font-size: 12px;
}

header.main-header > nav ul > li > a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}

header.main-header > nav ul > li > a > img {
  vertical-align: middle;
}

/* 헤더에 포함되는 큰 배경이미지 & 검색 UI */
.search-container {
  position: relative;
  height: 678px;
  background-image: url("../images/main_search_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ebe6e0;
}

.search-container > .input-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-container > .input-bg > form {
  width: 534px;
  margin: 30px auto 0;
}

.search-container > .input-bg > form > * {
  float: left;
  height: 50px;
  box-sizing: border-box;
}

.search-container > .input-bg > form > input {
  width: 434px;
  padding: 0 20px;
  border: none;
  border-radius: 3px 0 0 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 50px;
}

.search-container > .input-bg > form > button {
  width: 100px;
  border: none;
  border-radius: 0 3px 3px 0;
  font-size: 15px;
  color: white;
  background-color: #3b8de0;
  cursor: pointer;
  transition-duration: 0.5s;
}

.search-container > .input-bg > form > button:hover {
  background-color: #2074c8;
}
