// 색상들
$color-right-menu-anchor: #585858;
$color-bg-search-container: #ebe6e0;
$color-bg-search-button: #3b8de0;
$color-bg-search-button-hover: #2074c8;

// 메인 배경이미지 및 검색 UI를 포함하는 부분의 높이
$height-search-container: 678px;

// 검색 UI관련 변수
$height-search-form-bg: 110px;
$height-search-form-elements: 50px;
$margin-top-search-form: ($height-search-form-bg - $height-search-form-elements) / 2;
$width-search-form-input: 434px;
$width-search-form-button: 100px;

// dabang/scss/style.scss
html, body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
// 자식들을 수평배열할 요소에 대한 범용 클래스
.horizontal {
  padding: 0;
  margin: 0;
  list-style-type: none;
  
  > * {
    float: left;
  }
}
// 특정요소의 마지막 자식요소를 가상선택자로 추가
// clear: both;속성을 사용해서 자식이 모두 float속성을 가질 때,
// 부모(.clearfix가 정의된 요소)의 높이를 유지시킴
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


header.main-header {
  > nav {
    border-bottom: 1px solid #ccc;
    // 왼쪽 메뉴
    > ul.left {
      float: left;
      > li:first-of-type {
        margin: {
          left: 15px;
          right: 15px;
        }
      }
    }
    // 오른쪽 메뉴
    > .right {
      float: right;
      > ul > li > a {
        color: $color-right-menu-anchor;
        text-decoration: none;
        padding: 0 3px;
        margin: 0 7px;
      }
      > .room-list {
        font-size: 14px;
      }
      > .auth-list {
        font-size: 12px;
      }
    }
    // 메인헤더의 nav의 모든 '하위' ul > li > a들
    ul > li > a {
      display: inline-block;
      height: 60px;
      line-height: 60px;
      
      > img {
        vertical-align: middle;
      }
    }
  }
}

/* 헤더에 포함되는 큰 배경이미지 & 검색 UI */
.search-container {
  position: relative;
  height: $height-search-container;
  background-image: url('../images/main_search_bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-bg-search-container;
  
  > .input-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $height-search-form-bg;
    background-color: rgba(0,0,0,0.6);
    
    > form {
      width: $width-search-form-input + $width-search-form-button;
      margin: $margin-top-search-form auto 0;
      
      > * {
        float: left;
        height: $height-search-form-elements;
        box-sizing: border-box;
      }
      > input {
        width: $width-search-form-input;
        padding: 0 20px;
        border: none;
        border-radius: 3px 0 0 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        line-height: $height-search-form-elements;
      }
      > button {
        width: $width-search-form-button;
        border: none;
        border-radius: 0 3px 3px 0;
        font-size: 15px;
        color: white;
        background-color: $color-bg-search-button;
        cursor: pointer;
        transition-duration: 0.5s;
        
        &:hover {
          background-color: $color-bg-search-button-hover;
        }
      }
    }
  }
}

section.theme-search {
  // 가로크기 고정 및 가운데 정렬
  width: 960px;
  margin: 0 auto;
  text-align: center;
  
  // 제목, 섹션 설명의 글자크기 조정
  h2 {
    font-size: 36px;
    margin-bottom: 5px;
  }
  p.title-description {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  > ul {
    // 리스트 기본 스타일 없앰
    margin: 0;
    padding: 0;
    list-style-type: none;
    
    > li {
      position: relative;
      // 각 리스트 아이템을 수평정렬
      float: left;
      width: 300px;
      height: 300px;
      // border: 1px solid black;
      box-sizing: border-box;
      // 각 아이템이 300px, 마진은 30px (각 요소가 330px의 너비)
      margin-right: 30px;
      margin-bottom: 30px;
      cursor: pointer;
      // 자식요소가 부모크기를 초과할경우 가림
      overflow: hidden;
      
      // 3n번째 (3, 6, 9...)의 아이템은 오른쪽 마진을 없앰
      // 3개의 아이템이 총 960px (330 + 330 + 300)의 너비를 가짐
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      // li의 hover이벤트
      &:hover {
        // .bg 자식의 크기를 1.2배로 키움
        > .bg {
          transform: scale(1.2);
        }
      }
      
      // li의 모든 자식요소들(.bg, .mask, .typo)은
      // left, top각각 0 기준으로 부모에게 겹치도록 배열
      & > * {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      // ul > li > .bg.pet
      & > .bg {
        transition-duration: 0.3s;
        &.pet {
          background-image: url('../images/pet.jpg');
        }
      }
      // ul > li > .mask
      & > .mask {
        background-color: #2a2a2a;
        opacity: .4;
      }
      & > .typo {
        color: white;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        
        & > hr {
          width: 46px;
        }
      }
    }
  }
}
