html, body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
header.main-header {
  height: 61px;
  border-bottom: 1px solid #ccc;
}

.main-header > nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-header > nav > ul > li {
  float: left;
  line-height: 61px;
}
.main-header > nav > ul > li > a {
  display: inline-block;
}
.main-header > nav > ul > li > a > img {
  vertical-align: middle;
}
ul.left {
  float: left;
}
ul.right {
  float: right;
}